<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools">
                        <div class="input-group">
                            <button class="btn btn-sm btn-primary" (click)="addProduto()"><i class="glyphicon glyphicon-plus"></i>Adicionar</button>
                            <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Pesquisa Produto" [(ngModel)]="filtro" />
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Barra</th>
                            <th>Setor</th>
                            <th>Ação</th>
                        </tr>
                        <tr *ngFor="let produto of obterProdutos()">
                            <td>{{produto.id}}</td>
                            <td>{{produto.descricao}}</td>
                            <td>{{produto.barra}}</td>
                            <td>{{produto.Setor.descricao}}</td>
                            <td>
                                <div class="buttons">
                                    <button class="btn btn-success btn-xs" (click)="editProduto(produto)">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                Editar
                                            </button>
                                    <button class="btn btn-danger btn-xs" (click)="delProduto(produto)">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                Exluir
                                            </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>